<h1>Listing Posts</h1>
<%= link_to 'New post', new_post_path %>
<br></br>
<%= will_paginate(@posts, :renderer => WillPaginate::ActionView::LinkRenderer)%>
<br></br>
<table>
  <tr>
    <th>Cover Image</th>
    <th>Title</th>
    <th>Text</th>
    <th>Tags</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= image_tag post.avatar.url(:thumb) %></td>
      <td><%= post.title %></td>
      <td><%= post.text %></td>
      <td><%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<br></br>
<%= will_paginate(@posts, :renderer => WillPaginate::ActionView::LinkRenderer)%>
