<p>
  <strong>Avatar:</strong>
  <%= image_tag @post.avatar.url(:medium) %>
</p>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
	<strong>Tags:</strong>
	<% @post.tags.any? %>
  		<% @post.tags.each do |tag| %>
  		<%= link_to tag.name, tagged_url(:tag => tag.name) %>
	<% end %>
</p> 

<h2>Comments</h2>
<%= render @post.comments %>
 
<h2>Add a comment:</h2>
<%= render "comments/form" %>
 
<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %>